<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/template/reservation/getandpost}" th:object="${key_reservation}" method="post">
  <label>Rezervacijos ID:</label>
  <input type="number" th:field="${key_reservation.reservation_id}" id="reservation_id"/>
  <input type="submit" value="Submit" />
  <input type="submit" value="Clear" onclick="document.getElementById('reservation_id').value = ''"/>
</form>
<br>

<table>
  <tr>
    <th class="th">reservation_id</th>
    <th class="th">name</th>
    <th class="th">surname</th>
    <th class="th">phone</th>
    <th class="th">email</th>
    <th class="th">city</th>
    <th class="th">room</th>
    <th class="th">price</th>
    <th class="th">startDate</th>
    <th class="th">endDate</th>
  </tr>

  <tr th:if="${#reservation_id.isEmpty(key_reservations)}">
    <td colspan="5">No Records found. Add some...!</td>
  </tr>

  <tr th:each="reservation : ${key_reservations}">
    <td class="td" th:text="${reservation.reservation_id}"></td>
    <td class="td" th:text="${reservation.customer.name}"></td>
    <td class="td" th:text="${reservation.customer.surname}"></td>
    <td class="td" th:text="${reservation.customer.phone}"></td>
    <td class="td" th:text="${reservation.customer.email}"></td>
    <td class="td" th:text="${reservation.room.city}"></td>
    <td class="td" th:text="${reservation.room.room}"></td>
    <td class="td" th:text="${reservation.room.price}"></td>
    <td class="td" th:text="${reservation.startDate}"></td>
    <td class="td" th:text="${reservation.endDate}"></td>
  </tr>
</table>

</body>
</html>