<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${reservation_id}"> Some text here</p>
<p th:text="${name}"> Some text here</p>
<p th:text="${surname}"> Some text here</p>
<p th:text="${phone}"> Some text here</p>
<p th:text="${email}"> Some text here</p>
<p th:text="${city}"> Some text here</p>
<p th:text="${room}"> Some text here</p>
<p th:text="${price}"> Some text here</p>
<p th:text="${startDate}"> Some text here</p>
<p th:text="${endDate}"> Some text here</p>
</body>
</html>