<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registracija</title>
</head>
<body>
<form action="reservation.html">
<label for="city">Pasirinkite miestą:</label>
<select name="city" id="city">
    <option value="Kaunas">Kaunas</option>
    <option value="Klaipėda">Klaipėda</option>
    <option value="Vilnius">Vilnius</option>
</select>
    <div>
        <label for="date">Pasirinkite datą:</label>
        <input type="date" id="date" name="date">
    </div>
    <input type="submit" value="Registruotis">
</form>
</body>
</html>